100 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\fundo.bmp"
101 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\menu_image.bmp"
102 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\ball.bmp"
103 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\vitoria_player1.bmp"
104 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\vitoria_player2.bmp"
1001 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\player1.bmp"
1002 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\player2.bmp"
