100 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\fundo.bmp"
101 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\player1.bmp"
102 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\ball.bmp"