100 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\fundo.bmp"
102 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\ball.bmp"
1001 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\player1.bmp"
1002 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\images\\player2.bmp"